.nav-option {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 576px) {
    .nav-option {
        margin: 10px 0px;
    }
}

@media (max-width: 768px) {
    .nav-option {
        margin: 10px 0px;
    }
}

.results {
    position: relative;
    height: calc(100vh - 57px);
    line-height: calc(100vh - 57px);
}

.results * {
    line-height: initial;
}

.no-inputs {
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    img {
        height: 150px;
    }
    text-align: center;
}

.no-results {
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    img {
        height: 150px;
    }
    text-align: center;
}

.loading {
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    img {
        height: 150px;
    }
    text-align: center;
}

.errors {
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    img {
        height: 150px;
    }
    text-align: center;
}

.data-available {}